<% content_for :title, "Editing Discussion" %>

<h1>Editing Discussion</h1>

<%= render "form", discussion: @discussion %>

<br>

<div>
  <%= link_to "Show this thread", project_discussion_path(@project, @discussion), class: "btn btn-info" %> |
  <%= link_to "Back to thread", project_discussions_path(@project), class: "btn btn-secondary" %>
</div>
