<% content_for :title, "Editing Project" %>

<div class="container mt-4">
  <h1 class="mb-4">Editing Project</h1>

  <%= render "form", project: @project %>

  <div class="mt-4">
    <%= link_to "Show this project", @project, class: "btn btn-info btn-sm" %> 
    <span class="mx-2"> </span>
    <%= link_to "Back to projects", projects_path, class: "btn btn-secondary btn-sm" %>
  </div>
</div>
